<div class="row">
    <div class="center">
        
          <h1>Find a Great job in the SEO Industry</h1>
          <h3>We only show open SEO jobs to make your search easy</h1>
          <br>
           <%= link_to "Post a job FREE!" ,new_user_session_path, class: "btn btn-danger btn-lg" %><br/>

  <nav class="nav1">
  <a href="#" class="current">All Jobs</a>
  <a href="#">Full-Time</a>
  <a href="#">Part-Time</a>
  <a href="#">Freelance</a>
  <a href="#">Contract</a>
</nav>

    </div>
</div>
<br/>



<%= render @jobs %>

<li class="load_more">
  <button class"button">Load More</button>
</li>
