<div class="container">
      <div class="starter-template">
        <h1><i class="fa fa-cube"></i> Work in SEO</h1>
        <p class="lead">Passionate about SEO? Find a Great job in the SEO Industry.<br> We only show open SEO jobs to make your <span class="emphasis"> search easy!</p>
        <br>
      </div>
</div><!-- /.container -->
<%= render @jobs %>
    
<%= render 'layouts/footer'%>



