/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 $main: #34314c;
 $secondary:   #9592ad;
 $border:      #d9dee9;
 $white: #FFFFFF;
 $highlight_1: #fd7473;  // Red Colour
 $highlight_2: #fec951;  // Yellow Colour
 $highlight_3: #47b8e0;  // Blue Colour
 $highlight_4: #9f68d0;  // Purple Colour
 @import url(//fonts.googleapis.com/css?family=Pacifico|Open+Sans:300);
 @import url(//fonts.googleapis.com/css?family=Raleway:500);
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {

 font-family: 'Raleway', sans-serif;

 }


.starter-template {

  padding: 70px 10px;
  text-align: center;

}

h1 {

  font-size: 4.3em;
  font-family: 'Pacifico';
  color: #286090;
  text-shadow: 0px 2px 3px #555;
  margin-bottom: 30px;

}

h2 {
  font-family: helvetica;
  font-weight: 100;
}

.center {
  text-align: center;
}

.btn-lg {
  font-size: 20px;
}

/*
.emphasis {
  color: red;
  font-weight: 800;
}
*/

 .border {
  height: 6px;
  border: 0;
  background-color: $highlight_1;
  background-image: 
        linear-gradient(
          to right,
          $highlight_1,
          $highlight_1 25%, 
          $highlight_2 25%,
          $highlight_2 50%,
          $highlight_2 50%,
          $highlight_3 75%,
          $highlight_4 75%,
          $highlight_4 100%,
          $highlight_4 100%
          );

      -webkit-background-size: 50% 100%;
      -moz-background-size: 50% 100%;
      background-size: 50% 100%;
}


.nav1 {

  padding-top: 1.75em;

  a {
    color: $secondary;
    margin-left: 1em;
    text-decoration: none;
  }
  .current {
    font-weight: 800;
    color: $main;
  }
}


#timeline {
  width: 100%;
  position: relative;
  list-style: none;
  padding: 0;
  transition: all .3s ease-in-out;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 2px 40px 0 rgba(0, 0, 0, 0.1)
    }
  &:after {
    content: " ";
    width: 1px;
    background: 1px $border;
    height: 90%;
    position: absolute;
    top: 3em;
    left: 3em;
    z-index: 0;
  }
  a {
    text-decoration: none;
  }
  .listing {
    background: $white;
    border: 1px solid $border;
    border-radius: .3em;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
    z-index: 1;
    display: table;
    width: 96%;
  }
     .info, .job_type {
      display: table-cell;
      vertical-align: middle;
      font-size: 1.1em;
      color: $secondary;
    }
    .image_wrapper {
      width: 90px;
      display: block;
      margin: 0 auto;
      border-radius: .25em
    }
  }
  .info {
    line-height: 1.25;
    width: 640px;
    padding-left: 25px;
    .job_title {
      font-weight: 700;
      color: $main;
      font-size: 1.5em;
      }
    .job_info {
      color: $secondary;
      display: block;
      span {
        margin: 0.75em;
      }
    }


    .job_type {
      text-transform: uppercase;
      font-weight: 700;
      font-size: .75em;
      position: relative;
      white-space: nowrap;
      padding-top: .6em;
      width: 100px;
      &:before {
        content: " ";
        background: $highlight_1;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        position: absolute;
        left: -20px;
        top: 27px;
    }
  }
    .full-time {
      color: $highlight_1;
      &:before {
        background: $highlight_1;
      }
    }
    .part-time {
      color: $highlight_2;
      &:before {
        background: $highlight_2;
      }
    }
    .freelance {
      color: $highlight_3;
      &:before {
        background: $highlight_3;
      }
    }
    .contract {
      color: $highlight_4;
      &:before {
        background: $highlight_4;
      }
    }

}





/* load more button /*

.load_more {
  text-align: center;
  .button {
    border: 2px solid $highlight_4;
    outline: none;
    padding: 1em 3.5em;
    text-align: center;
    background: transparent;
    border-radius: 3em;
    color: $highlight_4;
    transition: all .3s ease-in-out;
    &:hover {
      border: 2px solid $main;
      color: $main;
    }
  }
}




/* notice / Alert messages */

#notice_wrapper {
  width: 100%;
  position: absolute;
  background: rgba(208,103,82, 0.85);
  z-index: 999;
  p {
    color: $white;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 1.1rem 0;
  }
}

/* Form Styling */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 10px;
}

/* media queries */

@media only screen and (max-width: 768px) {




.nav1 {
  float: none;
  text-align: center;

  a {
    margin: 0 0.5em;
    text-decoration: none;
   }
  }
 }

 @media only screen and (max-width: 600px) {
  #timeline {
    .listing {
      .image_wrapper {
        margin-right: 1em;
      }
      .info {
        width: 100%;
        padding: .4em 0 0 0;
       }
      .job_type {
        display: none;
      }
      .job_title {
        font-size: 1.25em;
      }
    }
   }  
 }



